{:app.system/env
 #profile {:dev  :dev
           :test :test
           :prod :prod}

 :app.db/spec
 {:dbtype   "postgres"
  :dbname   "products"
  :port     5432
  :user     #or [#env DB_USER "products"]
  :password #or [#env DB_PASSWORD "products"]
  :host     #or [#env DB_HOST "localhost"]}

 :app.containers/postgres-container
 {:db-spec #ig/ref :app.db/spec
  :env     #ig/ref :app.system/env}

 :app.db/connection
 {:db-spec    #ig/ref :app.db/spec
  :container  #ig/ref :app.containers/postgres-container}

 :app.migrations/flyway
 {:db #ig/ref :app.db/connection}

 :app.db/seed
 #profile {:dev {:db #ig/ref :app.db/connection
                 :d_ #ig/ref :app.migrations/flyway}
           :test nil
           :prod nil}

 :app.handler/api
 {:db #ig/ref :app.db/connection}

 :app.server/jetty
 {:handler #ig/ref :app.handler/api
  :port    #profile {:dev  #long #or [#env PORT 3000]
                     :test #long #or [#env PORT 0];; random port for testing
                     :prod #long #or [#env PORT 8080]}}}
